<?php
$points = $block->getPoints();
if (!isset($points)) {
    $points = 0;
}
?>
<div class="cart-club-section">
    <span class="club-points-cart" id="club-points-cart">
        <?= $block
            ->escapeHtmlAttr(__('Club Silhouette points')) ?>
    </span>
    <span class="clubs-points-val" id="clubs-points-val">
        <?= $points ?>
    </span>
    </br>
    <span><a href="javascript:void(0)" class="club-popup" id="club-popup">
            <?= $block
                ->escapeHtmlAttr(__("What's this?")) ?>
        </a>
    </span>
</div>
<div class="modal-content 1" id="modal-content">
    <div class="modal-body text-center">
        <div class="imagewrap">
            <img class="littlecafe-img" src="<?= $block->escapeUrl($block
                ->getViewFileUrl('Magneto_ClubSilhouetteManager::images/Club.png')) ?>" alt="Club Silhouette logo" />
            <img class="littlecafe-img" src="<?= $block->escapeUrl($block
                ->getViewFileUrl('Magneto_ClubSilhouetteManager::images/Silhouette.png')) ?>" alt="Club Silhouette logo" />
        </div>
        <div class="membership-wrapper" id="membership-wrapper">
        </div>
        <div class="pricing" id="pricing">
        </div>

        <ul class="custom-list">
            <li>
                <span><?= $block->escapeHtmlAttr(__('FREE shipping on all orders over $50.00')) ?></span>
            </li>
            <li>
                <span><?= $block->escapeHtmlAttr(__('FREE blade and mat (or Mint Stamp Kit and Stamp Sheet) 
            delivered right to your door 3 times per year.')) ?></span>
            </li>
            <li>
                <span><?= $block->escapeHtmlAttr(__('10% standing discount at silhouetteamerica.com')) ?></span>
            </li>
            <li>
                <span><?= $block->escapeHtmlAttr(__('10 exclusive Club Silhouette digital designs each month')) ?></span>
            </li>
            <li>
                <span><?= $block->escapeHtmlAttr(__('Earn Club Silhouette Points for every $10.00 you spend')) ?></span>
            </li>
        </ul>
        <div class="custom-actionwrap">
            <a href="<?= $block->escapeUrl($block->getBaseUrl() . 'clubsilhouette') ?>" class="club-silh-joinnow">
                <button class="club-silh-outlined" type="button" data-dismiss="modal" data-title="<?= $block->escapeHtmlAttr(__('Join Now')) ?>">
                    <span><?= $block->escapeHtmlAttr(__('Join Now')) ?></span>
                </button>
            </a>
            <a href="<?= $block->escapeUrl($block->getBaseUrl() . 'club-silhouette') ?>" class="club-silh-learnMore">
                <button class="club-silh-solid" type="button" id="club-silh-learnMore" data-title="<?= $block->escapeHtmlAttr(__('Learn More')) ?>">
                    <span><?= $block->escapeHtmlAttr(__('Learn More')) ?></span>
                </button>
            </a>
        </div>
    </div>
</div>

<?php
$membershipsUrl = $block->escapeUrl($block->getUrl().'clubsilhouette/index/memberships');
?>

<script type="text/x-magento-init">
{
    "*": {
        "Magneto_ClubSilhouetteManager/js/cartpopup": {
            "membershipsUrl": "<?= /* @noEscape */ $membershipsUrl;?>"
        }
    }
}
</script>