<?php
$allowCountry = $block->checkCountry();
$baseUrl  = $block->getBaseUrl();
$isLogin = $block->isLogin();
$loginUrl = $block->getLoginUrl();
$productExist = $block->isProductExistCart();
$isMember = $block->isMember();

$membershipUrl = $block->getBaseUrl().'clubsilhouette';
$checkoutUrl = $block->getBaseUrl().'checkout';
$isMemberRedirect = $block->getBaseUrl().'clubsilhouette/customer/index';
if ($isLogin == 1) {
    if ($productExist == 1) {
        ?>
    <a class="custom-link" href="<?= $block->escapeHtml($checkoutUrl)  ?>" data-title="<?= $block->escapeHtmlAttr(__('Get started for free')) ?>">
        <span class="free-trial" id="free-trial">
            <?= $block->escapeHtmlAttr(__('Get started for free')) ?>
        </span>
    </a>
    <?php } else {
        if($isMember){
    ?> 
    <a class="custom-link" href="<?= $block->escapeHtml($isMemberRedirect)  ?>" data-title="<?= $block->escapeHtmlAttr(__('Get started for free')) ?>">
        <span class="free-trial" id="free-trial">
            <?= $block->escapeHtmlAttr(__('Get started for free')) ?>
        </span>
    </a>    
    <?php }else{ ?>
    <a class="custom-link" href="<?= $block->escapeHtml($membershipUrl)  ?>" data-title="<?= $block->escapeHtmlAttr(__('Get started for free')) ?>">
        <span class="free-trial" id="free-trial">
            <?= $block->escapeHtmlAttr(__('Get started for free')) ?>
        </span>
    </a>

<?php } } } else {  ?>

    <a class="custom-link" href="<?= $block->escapeHtml($loginUrl) ?>" data-title="<?= $block->escapeHtmlAttr(__('Get started for free')) ?>">
        <span class="free-trial" id="free-trial">
            <?= $block->escapeHtmlAttr(__('Get started for free')) ?>
        </span>
    </a>

<?php }?>

<p class="cancel-info"><?= $block->escapeHtmlAttr(__('Cancel anytime.')) ?></p>

<script type="text/x-magento-init">
{
    "*": {
        "Magneto_ClubSilhouetteManager/js/clubsilhouetteForm": {
            "allowCountry": "<?= /* @noEscape */ $allowCountry;?>",
            "baseUrl":"<?= /* @noEscape */ $baseUrl;?>"            
        }
    }
}
</script>