<?php
$baseUrl =  $block->getBaseUrl();
$backUrl = $baseUrl.'club-silhouette';
?>
<div class="back-button-div">
    <a href="<?= $block->escapeHtml($backUrl) ?>" class="back-btn"><?= $block->escapeHtmlAttr(__('Back')) ?></a>
</div>
<div class="membership-main" id= "membership-main">
<h1 class="membership-title"><?= $block->escapeHtmlAttr(__('Select your membership type')) ?></h1>
<p class="text"><?= $block->escapeHtmlAttr(__('Choose a plan to unlock more 
creative possibilities.')) ?><p>

<div class="membership-plans" id="membership-plans">

</div>

</div>

<div class="refill-items-main" id="refill-items-main" style="display:none">
<div class="first-sec" id="first-sec">
    <h2><?= $block->escapeHtmlAttr(__('Select your free refill items')) ?></h2>
    <span><?= $block->escapeHtmlAttr(__("As a Club member, you'll receive a free shipment 
    every four months. Chose two free items from the list below.")) ?></span>
    <span><?= $block->escapeHtmlAttr(__('Select your preferred Silhouette 
    machine to display items compatible with your model.')) ?></span>

    <select name="machines-select" class="machine-select" id="machines-select" multiple>        
    </select>

</div>

<div class="second-sec" id="second-sec">
    <h2><?= $block->escapeHtmlAttr(__('First item')) ?></h2>
    <span class="mat-stamp"><?= $block->escapeHtmlAttr(__('Mat or Stamp Kit option (select one)')) ?></span>
    <div class="second-sec-content" id="second-sec-content">
    </div>
</div>

<div class="third-sec" id="third-sec">
    <h2><?= $block->escapeHtmlAttr(__('Second item')) ?></h2>
    <span class="mat-stamp"><?= $block->escapeHtmlAttr(__('Blade or Stamp Sheet option (select one)')) ?></span>
    <div class="third-sec-content" id="third-sec-content">
    </div>
</div>

<div class="forth-sec" id="forth-sec">
    <span class='shipment-dates' id="shipment-dates"><?= $block->escapeHtmlAttr(__('Approximate 
    fulfillment dates for your free items if you start your membership today:')) ?></span>
</div>

<div class="shipping-address" id="shipping-address">
    <h2>Select Your Shipping Address</h2>
    <?php echo $block->getChildHtml('shippingAddressPopup'); ?>    
</div>

<div class="fifth-sec" id="fifth-sec">
    <h2><?= $block->escapeHtmlAttr(__('Join Club Silhouette')) ?></h2>
    <span class="fifth_span"><?= $block->escapeHtmlAttr(__("Once you've verified all information above is accurate, please review the Terms
         & Conditions and then click the button below to join Club Silhouette.")) ?></span>
    <div class="custom_tc"><input type="checkbox" id="terms" name="terms">
    <label for="terms"><?= $block->escapeHtmlAttr(__('I have reviewed and agree to the Terms & Conditions 
        for Club Silhouette membership.')) ?></label></div>
    <div class="continue-sec">
        <button class="continue-btn" id="continue-btn" data-title="<?= $block->escapeHtmlAttr(__('Continue')) ?>" disabled><span><?= $block->escapeHtmlAttr(__('Continue')) ?></span></button>
    </div>
</div>

</div>

<?php
$membershipsUrl = $block->escapeUrl($block->getUrl().'clubsilhouette/index/memberships');
$refillproductsUrl = $block->escapeUrl($block->getUrl().'clubsilhouette/index/refillproducts');
$machinesUrl = $block->escapeUrl($block->getUrl().'clubsilhouette/index/machines');
$sessionUrl = $block->escapeUrl($block->getUrl().'clubsilhouette/index/setsession');
$addtocartUrl = $block->escapeUrl($block->getUrl().'clubsilhouette/index/addtocart');
$checkoutUrl =  $block->escapeUrl($block->getBaseUrl().'checkout');
?>
<script type="text/x-magento-init">
{
    "*": {
        "Magneto_ClubSilhouetteManager/js/membershipForm": {
            "membershipsUrl": "<?= /* @noEscape */ $membershipsUrl;?>",
            "refillproductsUrl":"<?= /* @noEscape */ $refillproductsUrl;?>",
            "machinesUrl":"<?= /* @noEscape */ $machinesUrl;?>",
            "sessionUrl":"<?= /* @noEscape */ $sessionUrl;?>",
            "addtocartUrl":"<?= /* @noEscape */ $addtocartUrl;?>",
            "checkoutUrl":"<?= /* @noEscape */ $checkoutUrl;?>"
        }
    }
}
</script>