<div class="field choice admin__field admin__field-option">    
    <input id="return_to_cs_points"
        class="admin__control-checkbox return_to_cs_points"
        name="return_to_cs_points"
        value=""
        type="checkbox"/>
    <label for="return_to_cs_points" class="admin__field-label">
        <span><?= $escaper->escapeHtml(__('Refund to Clubsilhouette Points')) ?></span>
    </label>    
</div>

<script>
require(['jquery', 'jquery/ui'], function($){
  jQuery(document).ready( function() {
    $('body').on('click', '#return_to_cs_points', function () {
        if($("#return_to_cs_points").prop('checked') == true)
        {
            $('#return_to_cs_points').val(1);
        }
        if($("#return_to_cs_points").prop('checked') == false)
        {
            $('#return_to_cs_points').val(0);
        }
    });


  });
});

</script>