<?php if ($block->getStoreCredit()): ?>
    <tr>
        <td class="label"><?= $block->escapeHtml(__('Clubsilhouette Points Refunded')); ?></td>
        <td>
            <?= $block->getFormatStoreCredit(); ?>
        </td>
    </tr>
<?php endif; ?>
