<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Address\Book $block */
$blockObj= $block->getLayout()->createBlock('Magneto\ClubSilhouetteManager\Block\Index\ClubSilhouetteManager');
$helper = $blockObj->gethelper();
$customerAddress = $helper->getCustomerAddress();
?>
<div class="block block-addresses-default">    
    <div class="block-content">        
        <strong class="box-title">
            <span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span>
        </strong>
        <?php  if ($_pAddsses = $block->getDefaultShipping()): ?>                                         
            <div class="box box-address-shipping">                
                <div class="box-content">                                                                                
                    <select name="shippingaddress" id="shippingaddress">
                        <?php
                        foreach ($customerAddress as $customerAddres) {
                            $addressId = $customerAddres['entity_id'];
                            $name =  $customerAddres['firstname'].' '.$customerAddres['lastname'];
                            $city = $customerAddres['city'];
                            $showAddress = $name.','.$city;
                            if ($addressId == $_pAddsses) {
                                ?>
                            <option value="<?= $addressId ?>" selected><?= $showAddress ?></option>
                        <?php } else { ?>
                            <option value="<?= $addressId ?>"><?= $showAddress ?></option>
                        <?php } }?>
                        <option value="newaddress"><?= $block->escapeHtml(__('Add New Address')) ?></option>                        
                    </select>
                </div>                
            </div>
        <?php else: ?>            
            <div class="box box-address-shipping">                
                <div class="box-content">                         
                    <select name="shippingaddress" id="shippingaddress">                  
                            <option value="newaddress"><?= $block->escapeHtml(__('Add New Address')) ?></option>                        
                    </select>
                </div>
            </div>
        <?php endif ?>
    </div>
</div>

<div class="popup-content" id="popup-content" style="display: none;">
<?php echo $block->getChildHtml('editShippingAddresss'); ?>    
</div>

<script type="text/x-magento-init">
{
    "*": {
        "Magneto_ClubSilhouetteManager/js/shippingAddress": {}
    }
}
</script>