<?php
$countryList = $block->getCountries();
$regionList = $block->getRegion();
?>
<div class="shipping-form" id="shipping-form">
    <span class="succ-mssg" id="succ-mssg" style="display: none;"><?= $block->escapeHtml('Your address has been updated!')?></span>
<form class="form" id="my-form" method="post" data-mage-init='{"validation":{"rules": {"field-4": {"required":true}}}}'>
    <fieldset class="fieldset">
        <div class="field name required">
            <label class="label" for="firstname"><span><?= $escaper->escapeHtmlAttr(__('First Name')) ?></span></label>
            <div class="control">
                <input name="firstname" id="firstname" title="First Name" value=""  class="input-text" type="text" data-validate='{"required":true}'/>
            </div>
        </div>
        <div class="field name required">
            <label class="label" for="lastname"><span><?= $escaper->escapeHtmlAttr(__('Last Name')) ?></span></label>
            <div class="control">
                <input name="lastname" id="lastname" title="Last Name" value="" class="input-text" type="text" required="true"/>
            </div>
        </div>        
        <div class="field street required">
            <label for="street_1" class="label"><span><?= $escaper->escapeHtmlAttr(__('Street Address')) ?></span></label>
            <div class="control">
                <input type="text" name="street[0]" value="" title="Street Address" id="street_1" class="input-text required-entry" aria-required="true">
            </div>
        </div>
        <div class="fieldset contact-info">
            <div class="field region required">
                <label for="region_id" class="label"><span><?php echo __('State/Province:') ?></span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?php echo __('State/Province') ?>" class="validate-select" style="display:none;">
                        <option value=""><?php echo __('Please select a region, state or province.') ?></option>
                    </select>
                    <input type="text" id="region" name="region" value="<?php echo $block->getRegion() ?>" class="input-text <?php echo $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region')) ?>" style="display:none;">
                </div>
            </div>

            <div class="field country required">
                <label for="country" class="label"><span><?php echo $block->escapeHtml(__('Country:')) ?></span></label>
                <div class="control">
                    <?php echo $block->getCountryHtmlSelect() ?>
                </div>
            </div>
        </div>

        <div class="field name required">
            <label class="label" for="city"><span><?= $block->escapeHtmlAttr(__('City'))?></span></label>
            <div class="control">
                <input name="city" id="city" title="City" value="" class="input-text" type="text" required="true"/>
            </div>
        </div>

        <div class="field name required">
            <label class="label" for="postcode"><span><?= $block->escapeHtmlAttr(__('Zip/Postal Code 
'))?></span></label>
            <div class="control">
                <input name="postcode" id="postcode" title="Zip/Postal Code" value="" class="input-text validate-zip-international" type="text" required="true"/>
            </div>
        </div>        
        <div class="field name required">
            <label class="label" for="telephone"><span><?= $escaper->escapeHtmlAttr(__('Phone Number 
')) ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="Phone Number 
" value="" type="text" class="input-text" required="true"/>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="button" title="Submit" id="submit-btn" class="action submit primary">
                <span>Submit</span>
            </button>
        </div>
    </div>
</form>
</div>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>

<?php
$shippingUrl = $block->escapeUrl($block->getUrl().'clubsilhouette/index/shippingadress');
?>
<script type="text/x-magento-init">
{
    "*": {
        "Magneto_ClubSilhouetteManager/js/updateAddress": {
            "shippingUrl": "<?= /* @noEscape */ $shippingUrl;?>"            
        }
    }
}
</script>