<!--@subject  Silhouette America Educator Program  @-->

<!--@vars {
"var name":"Name",
"var schoolName":"SchoolName"
} @-->

{{template config_path="design/email/header_template"}}
<div>
	<span>{{var name}} from {{var schoolName}} has applied for an educator discount online.</span><br><br>

	<span>To view the application and approve it,check the educator users lists in admin panel.</span><br><br>	
	
	<span>Sincerely,</span><br><br>
	<span>The Silhouette Team</span>
</div>	

{{template config_path="design/email/footer_template"}}
