<!--@subject  Silhouette America Club-silhouette Program  @-->

<!--@vars {
"var name":"Name",
"var schoolName":"SchoolName"
} @-->

{{template config_path="design/email/header_template"}}
<table style="border='0', cellpadding='0' ,cellspacing='0', width='100%' ">
	<tbody>
		<tr>
			<td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">Dear Club Silhouette Member,</td>
		</tr>
		<tr>
			<td height="15"></td>
		</tr>

		<tr>
			<td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
				Your exclusive Club Silhouette designs for this month have been automatically added to your account.
			</td>
		</tr>
		<tr>
			<td height="15"></td>
		</tr>
		<tr>
			<td height="25"></td>
		</tr>
		<tr>
			<td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
				To download these designs, perform the following steps:
				<ol>
					<li>Go to LIBRARY in the Silhouette Studio® software - File > Library > Library</li>
					<li>If you are prompted to Sign In, please follow through using your Silhouette Account email address and password</li>
					<li>If already signed in, click the blue Sync button in the bottom left cornerIf you have any concern with seeing your designs in your Library after downloading, please update your software, <a style="color: #1FC2DE; text-decoration: none;" href="https://www.silhouetteamerica.com/software/silhouette-studio" target="_blank">https://www.silhouetteamerica.com/software/silhouette-studio</a></li>
				</ol>
			</td>
		</tr>
		<tr>
			<td height="15"></td>
		</tr>
		<tr>
			<td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
				Sincerely,
			</td>
		</tr>
		<tr>
			<td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
				The Silhouette Team
			</td>
		</tr>
	</tbody>
</table>

{{template config_path="design/email/footer_template"}}
