<!--@subject  Silhouette America Club-silhouette Free Trial  @-->

{{template config_path="design/email/header_template"}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                Hello,
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                Thanks for joining Club Silhouette! When your {{var trialLength}}-day free trial is up, you will automatically be charged your first Club Silhouette membership fee.</td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                Welcome to the club!
            </td>
        </tr>
            <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                Sincerely,
            </td>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                The Silhouette Team
            </td>
        </tr>
        </tbody>
    </table>

{{template config_path="design/email/footer_template"}}
