<!--@subject  Silhouette America Club-silhouette Points  @-->

{{template config_path="design/email/header_template"}}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Congratulations! Your recent purchase earned you {{var points_to_add}} Club Silhouette points. For more information about Club Silhouette points and how to redeem them, <a style="color: #1FC2DE; text-decoration: none;" href="http://www.silhouetteamerica.com/club-silhouette-points">click here</a>.
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Sincerely,
        </td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            The Silhouette Team
        </td>
    </tr>
    </tbody>
</table>

{{template config_path="design/email/footer_template"}}
