<!--@subject  Silhouette America Club-silhouette Renewal Missing CreditCard  @-->

{{template config_path="design/email/header_template"}}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Dear Club Silhouette Member,
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
        We recently tried to renew your membership, since your account is set to auto-renew, however there was either no credit card associated with your account, or the card associated with your account has expired. Please follow the instructions below to update your credit card associated with your Club Silhouette membership:</td>
    </tr>

    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            <ul style="list-style-type: none; margin-top: 0; margin-bottom: 0; padding-left: 60px;">
                <li>Visit <a style="color: #1FC2DE; text-decoration: none;" href="https://www.silhouetteamerica.com/signin" target="_blank">https://www.silhouetteamerica.com/signin</a></li>
                <li>Sign into your account</li>
                <li>Click on the "My Account" link</li>
                <li>Under "Club Silhouette", click on "Manage Settings"</li>
                <li>Under "Billing Information", select a credit card from the list of available cards, or add a new one</li>
                <li>Click "Update Settings"</li>
            </ul>
        </td>
    </tr>
        <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Sincerely,
        </td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            The Silhouette Team
        </td>
    </tr>
    </tbody>
</table>

{{template config_path="design/email/footer_template"}}
