<!--@subject  Silhouette America ClubSilhouette Refill Shipment  @-->

{{template config_path="design/email/header_template"}}
<table>
    <tbody>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                Dear Club Silhouette Member,
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                Your free Club Silhouette items are scheduled to ship in about a week!
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                The following Club Silhouette items are scheduled to ship to you:
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            <ul style="list-style-type: none; margin-top: 0; margin-bottom: 0; padding-left: 60px;">
                <li><strong>Item 1:</strong> {{var item_1_name}} ({{var item_1_item_number}})</li>
                <li><strong>Item 2:</strong> {{var item_2_name}} ({{var item_2_item_number}})</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                These will be shipped to the following address:
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            <ul style="list-style-type: none; margin-top: 0; margin-bottom: 0; padding-left: 60px;">
                <li>{{var street}}</li>
                <li>{{var city}}, {{var region}}</li>
                <li>{{var address_country}}</li>
                <li>{{var postCode}} </li>
            </ul>
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                If you need to make any changes to your address or selected items, please take a moment to update your <a href="https://www.silhouetteamerica.com/club-silhouette" style="color: #1FC2DE; text-decoration: none; font-family: Calibri, sans-serif; font-size: 14px;" target="_blank">Club Silhouette settings</a> now.
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                Sincerely,
            </td>
        </tr>

        <tr>
            <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
                The Silhouette Team
            </td>
        </tr>
    </tbody>
</table>

{{template config_path="design/email/footer_template"}}
