<!--@subject  Club-silhouette Create User Program  @-->

{{template config_path="design/email/header_template"}}
<div>
	<span>Congratulations! Your Silhouette Educator application has been received and approved to receive the Educator Discount.</span><br><br>

	<span>The Educator Discount offers a 20% savings on all Silhouette products purchased at <a href="https://silhouetteamerica.com/">SilhouetteAmerica.com</a>, excluding gift cards. The Educator Discount cannot be combined with any other promotional offers or sales.</span><br><br>

	<span>To use the Educator Discount, simply log into your account at <a href="https://silhouetteamerica.com/">www.silhouetteamerica.com</a> and start shopping. All regular pricing on products will automatically be reduced to the Educator Discount pricing.</span><br><br>

	<span>We hope you will enjoy Silhouette products in your educational endeavors!</span><br><br>
	
	<span>Sincerely,</span><br><br>
	<span>The Silhouette Team</span>
</div>	

{{template config_path="design/email/footer_template"}}
