<!--@subject  Club-silhouette Users Reports @-->

{{template config_path="design/email/header_template"}}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Below are links for your monthly audit reports for Club Silhouette Points and Gift Cards.
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            <ul style="list-style-type: none; margin-top: 0; margin-bottom: 0; padding-left: 60px;">
                <li><a style="color: #1FC2DE; text-decoration: none;" href= "{{var gift_cards_used_all_time_link}}" target="_blank">Gift Cards Used (Inception through {{var end_date}})</a></li>
                <li><a style="color: #1FC2DE; text-decoration: none;" href="{{var gift_cards_used_link}}" target="_blank">Gift Cards Used ({{var start_date}} through {{var end_date}})</a></li>
                <li><a style="color: #1FC2DE; text-decoration: none;" href="{{var points_by_user_link}}" target="_blank">Points by User ({{var start_date}} through {{var end_date}})</a></li>
                <li><a style="color: #1FC2DE; text-decoration: none;" href="{{var gift_cards_purchased_link}}" target="_blank">Gift Cards Purchased ({{var start_date}} through {{var end_date}})</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Sincerely,
        </td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            The Silhouette Team
        </td>
    </tr>
    </tbody>
</table>	

{{template config_path="design/email/footer_template"}}
