<!--@subject  Silhouette America ClubSilhouette Refill Shipment  @-->

{{template config_path="design/email/header_template"}}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Dear Club Silhouette Member,
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Your free product refill order was scheduled to ship out today. However, the following item(s) is/are currently out of stock:
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            <ul style="list-style-type: none; margin-top: 0; margin-bottom: 0; padding-left: 60px;">
                <li>{{var refill1ItemName}}</li>
                <li>{{var refill2ItemName}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Your order will be shipped as soon as all items in the order are back in stock. While you wait, you can keep up to date on the status of your order by going to <a style="color: #1FC2DE; text-decoration: none;" href="{{var url}}" target="_blank">{{var url}}</a>.
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            You are a highly valued customer, and we thank you for your patience and understanding as we make every effort possible to fill your order in a timely manner.
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Sincerely,
        </td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            The Silhouette Team
        </td>
    </tr>
    </tbody>
</table>

{{template config_path="design/email/footer_template"}}
