<!--@subject  Club-silhouette Users Payment Reminder  @-->

{{template config_path="design/email/header_template"}}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            {{var user_name}},
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Your Club Silhouette {{var payment_cycle_string}} membership is set to be billed on {{var formatted_date}}. Please visit <a style="color: #1FC2DE; text-decoration: none;" href="https://www.silhouetteamerica.com" target="_blank">www.silhouetteamerica.com</a> and log into your account to see more information.
        </td>
    </tr>
    <tr>
        <td height="15"></td>
    </tr>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Welcome to the club!
        </td>
    </tr>
        <tr>
        <td height="15"></td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            Sincerely,
        </td>
    </tr>
    <tr>
        <td style="color: #646569; font-family: Calibri, sans-serif; font-size: 14px;">
            The Silhouette Team
        </td>
    </tr>
    </tbody>
</table>

{{template config_path="design/email/footer_template"}}
