<!-- ko if: isAvailable() -->
<tr class="totals balance">
    <th class="mark" scope="row" data-bind="i18n: 'Paid With Clubsilhouette Credit'"></th>
    <td class="amount"><span class="price" data-bind="text: getValue()"></span></td>
</tr>
<!-- /ko -->
