<?php
$points = $block->getSilhouetteUserPoints();
$adminUrl = $block->getBaseUrl().$block->getAdminUrl();
$currentId = $block->getId();
?>
<section class="admin__page-section section-points">
    <div class="admin__page-section-title">   
        <span class="title"><?= $block->escapeHtml(__('Club Points'))?></span>             
    </div>
    <div class="admin__page-section-content">
        <div class="admin__field">
            <label class="label admin__field-label" for="points-value">
                <span><?= $block->escapeHtml(__('Points:'))?></span>
            </label>
            <span class="points-value"><?= $points ?></span>
        </div>
        <div class="admin__field">
            <label class="label admin__field-label" for="add-points">
                <span><?= $block->escapeHtml(__('Add Points:'))?></span>
            </label>
            <input name="add-points" type="number" class="add-points admin__control-text" id="add-points" maxlength="3" size="1">
            <input type="text" class="add-points-cmmnt admin__control-text" style="flex-basis: calc(100% - 120px);" id="add-points-cmmnt" 
     maxlength="255" placeholder="Enter Notes e.g. Manual points adjustment">            
            <button type="button" class="add-point-btn action-basic" id="add-point-btn">Add</button>
            <span class="succ-mssg" id="succ-mssg" style="display: none;">Points has been added!</span>
        </div>
    </div>
</section>

<script>
    require(['jquery'], function($) {        
        $(document).ready(function() { 

            $('body').on('click', '#add-point-btn', function() {
                    var points = $('#add-points').val();
                    var pointsComm = $('#add-points-cmmnt').val();
                    
                    var clubpointsUrl = "<?= $block
                    ->escapeUrl($adminUrl.'/clubssilhouette/index/clubpoints') ?>";                    
                    var currentId = "<?= $block->escapeUrl($currentId) ?>";
                    $.ajax({
                            url: clubpointsUrl,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                    points: points,
                                    pointsComm : pointsComm,
                                    id : currentId
                                },
                            success: function(response) {                                
                                $('#succ-mssg').show();
                                if(response.points)
                                {
                                    $('.points-value').text(response.points);
                                }
                                $('#add-points').val('');
                                $('#add-points-cmmnt').val('');
                                setTimeout(function() {
                                    $('#succ-mssg').hide()
                                }, 5000);
                            },
                            error: function (xhr, status, errorThrown) {
                                console.log('Error happens. Try again.');
                            }
                        });
             });

        });
    });
</script>