<?php
$joinDate = $block->getJoinDate();
$status = $block->getUserStatus();
$membershipStatusArray = [
    'A' => 'Active',
    'X' => 'Cancel',
    'I' => 'Inactive'
];
$endDate = $block->getEndDate();
?>
<div class="membership-section">
<div class="admin__field field field-membership-status">
    <label class="label admin__field-label" for="memberhsip-status">
        <span><?= $block->escapeHtml(__('Membership Status'))?></span>
    </label>
    <select data-form-part="clubssilhouette_form" name="membership[membershipStatus]" 
        id="memberhsip-status" class="select admin__control-select">
        <option value="">---select status---</option>
            <?php foreach($membershipStatusArray as $key => $value){ 
                    if($key == $status){
            ?>                                    
            <option value="<?= $key ?>" selected="selected"><?= $value ?></option>
            <?php }else{ ?>
                <option value="<?= $key ?>"><?= $value ?></option>
            <?php } }?>                                    
    </select>
</div>

<div class="admin__field field joined-since">
    <label class="label admin__field-label joins-date">Joined Since:</label> <span><?= $joinDate ?></span>
</div>

<div class="admin__field field end-date">
<label class="label admin__field-label end-date">End Date:</label>
    <?php if(!empty($getEndDate)){ ?>
        <input data-form-part="clubssilhouette_form" type="date" class="payment-date admin__control-text _has-datepicker" title="endDate" 
         name="membership[endDate]" id="endDate" value="<?= $endDate ?>">
    <?php }else{ ?>
        <input data-form-part="clubssilhouette_form" type="date" class="payment-date admin__control-text _has-datepicker" title="endDate" 
         name="membership[endDate]" id="endDate" value="<?= $endDate ?>">
    <?php } ?>

</div>
