<?php
$pastPayments = $block->getPastPayments();
$futurePayments = $block->getFuturePayments();
$currentId = $block->getUserId();
$adminUrl = $block->getBaseUrl().$block->getAdminUrl();
$paymentCycle = $block->getPaymentCycleMonth();
?>
<div class="payment-section-main">
                <div class="admin__field field field-PAYMENTCYCLE">
                        <label class="label admin__field-label" for="payment_cycle_months">
                            <span><?= $block->escapeHtml(__('Payment Cycle'))?></span>
                        </label>
                        <select data-form-part="clubssilhouette_form" name="membership[paymentcycle]" 
                        id="payment_cycle_months" class="select admin__control-select">
                        <option value="">---select payment cycle---</option>
                                <?php if ($paymentCycle == '') {?>
                                    <option value="1">Monthly</option>
                                    <option value="12" selected="selected">Annual</option>
                                    <?php } elseif ($paymentCycle == 12) {?>
                                        <option value="1">Monthly</option>
                                        <option value="12" selected="selected">Annual</option>
                                    <?php } else { ?>
                                        <option value="1" selected="selected">Monthly</option>
                                        <option value="12">Annual</option>
                                <?php } ?>
                        </select>
                </div>
                <div class="admin__field field field-CREDITCARD">
                        <label class="label admin__field-label" for="billing_card_id">
                            <span><?= $block->escapeHtml(__('Credit Card'))?></span>
                        </label>
                        <select data-form-part="clubssilhouette_form" name="membership[creditcard]" id="billing_card_id" class="select admin__control-select">
                        <option value="">---select existing card---</option>                                    
                        </select>
                </div>          
<section class="admin__page-section section-second">
    <div class="admin__page-section-title">   
        <span class="title"><?= $block->escapeHtml(__('Past Payments'))?></span>             
    </div>
    <div class="admin__page-section-content">
        <table class="admin__table-secondary">
            <thead><tr><th>Date</th><th></th><th>Charge</th></tr></thead>
                <tbody>
                    <?php if (empty($pastPayments)) {?>            
                            <tr><td colspan="2">No Past Payment</td></tr>            
                        <?php } else { foreach ($pastPayments as $payment) {
                            $amount = $payment['amt'];
                            $paymentDate = $payment['paymentDate'];
                            $paymentDate = $block->dateFormate($paymentDate);
                            ?>
                        <tr>
                            <td colspan="2"><?= $paymentDate ?></td>
                            <td colspan="2"><?= "$".$amount ?></td>
                        </tr>    
                    <?php } }?>        
                </tbody>
        </table>
    </div>
</section>
<section class="admin__page-section section-third">
    <div class="admin__page-section-title">   
        <span class="title"><?= $block->escapeHtml(__('Upcoming Payments'))?></span>             
    </div>
    <div class="admin__page-section-content">
        <table class="admin__table-secondary">
            <thead><tr><th>Date</th><th></th><th>Charge</th></tr></thead>
                <tbody>
                    <?php if (empty($futurePayments)) {?>            
                            <tr><td colspan="2">No Upcoming Payment</td></tr>            
                    <?php } else { foreach ($futurePayments as $payment) {
                            $amount = $payment['amt'];
                            $paymentDate = $payment['dueDate'];
                            $paymentDate = $block->dateFormate($paymentDate);
                            $id = $payment['id'];
                            ?>
                        <tr>
                            <td colspan="2"><?= $paymentDate ?></td>
                            <td colspan="2"><?= "$".$amount ?></td>
                            <td>
                            <button class="btn-pay-del" type="button" value="Delete" data-id="<?= $id ?>">Delete</button>
                            </td>
                        </tr>    
                    <?php } }?>          
                </tbody>
        </table>
    </div>
</section>
<section class="admin__page-section section-fourth">
    <div class="admin__page-section-title">   
        <span class="title"><?= $block->escapeHtml(__('Add Payment'))?></span>             
    </div>
    <div class="admin__page-section-content">
        <div class="admin__field">
            <input type="date" class="payment-date admin__control-text _has-datepicker" title="date" 
        name="scheduled_billing_date" id="scheduled_billing_date">
            <input type="text" class="admin__control-text" title="amount" name="amount" 
            placeholder="Please add price" id="amount">
            <input type="button" value="ADD" class="btn-add action-basic" id="btn-add">
        </div>
    </div>
</section>
</div>

<script>
    require(['jquery'], function($) {        
        $(document).ready(function() { 

            $('body').on('click', '#btn-add', function() {
                    var dueDate = $('#scheduled_billing_date').val();
                    var amount = $('#amount').val();
                    
                    var paymentUrl = "<?= $block
                    ->escapeUrl($adminUrl.'/clubssilhouette/index/addpayment') ?>";                    
                    var currentId = "<?= $block->escapeUrl($currentId) ?>";
                    var action = 'add';
                    $.ajax({
                            url: paymentUrl,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                    dueDate: dueDate,
                                    amount : amount,
                                    id : currentId,
                                    action : action
                                },
                            success: function(response) {   
                                alert('Club Silhouette billing date added successfully!');                                                             
                                location.reload();
                            },
                            error: function (xhr, status, errorThrown) {
                                console.log('Error happens. Try again.');
                            }
                        });
             });

             $('body').on('click', '.btn-pay-del', function() {
                    var id = $(this).attr("data-id");                    
                    
                    var paymentUrl = "<?= $block
                    ->escapeUrl($adminUrl.'/clubssilhouette/index/addpayment') ?>";                                        
                    var action = 'delete';
                    $.ajax({
                            url: paymentUrl,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                    id : id,
                                    action : action
                                },
                            success: function(response) {   
                                alert('Club Silhouette billing date deleted successfully!');                                                             
                                location.reload();
                            },
                            error: function (xhr, status, errorThrown) {
                                console.log('Error happens. Try again.');
                            }
                        });
             });

        });
    });
</script>