<?php
$adminUrl = $block->getBaseUrl().$block->getAdminUrl();
$userId = $block->getUserId();
$currentMatProd = $block->getCurrentUserMatProd();
$currentBladeProd = $block->getCurrentUserBladeProd();

$matProducts = $block->getMatProducts();
$bladeProducts = $block->getBladeProducts();

$shippinInfo = $block->getShippingInfo();
$currentShipId = $block->getShippingId();

$pastShipments = $block->getShippedShipments();
$pastUnshipeed = $block->getUnshippedShipments();
$upcomingShipments = $block->getUserShipments();
?>
<section class="admin__page-section section-shipment">
            <div class="admin__page-section-title">
                <span class="title"><?= $block->escapeHtml(__('Items & Shipments'))?></span>
                <button type="button" id="delete-all-shipments" class="btn-ship-del action-basic">Delete All Shipments</button>
            </div>
            <div class="admin__page-section-content">
                <div class="admin__field field field-MAT">
                    <label class="label admin__field-label" for="refill1_item_no">
                        <span><?= $block->escapeHtml(__('Item 1'))?></span>
                    </label>
                    <select data-form-part="clubssilhouette_form" name="membership[mat]" id="refill1_item_no" class="select admin__control-select">
                            <option value="">---select item1---</option>                    
                            <?php foreach ($matProducts as $product) {
                                        $sku = $product['sku'];
                                        $productName = $product['name'];
                                if ($sku == $currentMatProd) {
                                    ?>
                                    <option value="<?= $sku?>" selected><?= $sku ?></option>                    
                                    <?php } else {?>
                                        <option value="<?= $sku?>"><?= $sku ?></option>                    
                            <?php } }?>
                    </select>
                </div>

                <div class="admin__field field field-BLADE">
                    <label class="label admin__field-label" for="refill2_item_no">
                        <span><?= $block->escapeHtml(__('Item 2'))?></span>
                    </label>
                    <select data-form-part="clubssilhouette_form" name="membership[blade]" id="refill2_item_no" class="select admin__control-select">
                            <option value="">---select item1---</option>                    
                            <?php foreach ($bladeProducts as $product) {
                                    $sku = $product['sku'];
                                    $productName = $product['name'];
                                if ($sku == $currentBladeProd) {
                                    ?>
                                <option value="<?= $sku?>" selected><?= $sku ?></option>                    
                                <?php } else {?>
                                    <option value="<?= $sku?>"><?= $sku ?></option>                    
                            <?php } }?> 
                    </select>
                </div>
                
                <div class="admin__field field field-shippingId">
                    <label class="label admin__field-label" for="shipping_id">
                        <span><?= $block->escapeHtml(__('Shipping Address'))?></span>
                    </label>
                    <select data-form-part="clubssilhouette_form" name="membership[shippingId]" id="shipping_id" class="select admin__control-select">
                            <option value="">---select item1---</option>                    
                            <?php if ($shippinInfo) { foreach ($shippinInfo as $shipping) {
                                        $shippingId = $shipping['id'];
                                        $shippingData = $shipping['data'];
                                    if ($currentShipId = $shippingId) {
                                        ?>
                                    <option value="<?= $shippingId?>" selected><?= $shippingData ?></option>
                                <?php } else {?>
                                    <option value="<?= $shippingId?>"><?= $shippingData ?></option>
                            <?php } } }?>
                    </select>
                </div>
            </div>
</section>
<div class="col-12 mt-3">
    <div class="form-horizontal">       
        <div class="row form-group mt-3">
            <label class="col-12 mb-2 col-form-label"><strong>Past Shipments</strong></label>
            <table class="admin__table-secondary">
                <thead><tr><th>Date</th><th>Item 1</th><th>Item 2</th><th></th></tr></thead>
                <tbody>    
                <?php
                if ($pastShipments) {
                    if (isset($pastShipments['shippingDate'])) {
                        $pastMatProd = $pastShipments['matProduct'];
                        $pastBladeProd = $pastShipments['bladeProduct'];
                        $shippingDates = $pastShipments['shippingDate'];
                        foreach ($shippingDates as $shippingDate) {
                            ?>
                        <tr>
                            <td><?= $shippingDate ?></td>
                            <td><?= $pastMatProd ?></td>
                            <td><?= $pastBladeProd ?></td>
                        </tr>

                    <?php } } else { ?>
                        <tr><td><?= $block->escapeHtml('No Past Shipment') ?></td></tr>
                        <?php
                    } }
                ?>                            
                </tbody>
            </table>
        </div>
        <div class="row form-group mt-3">
            <label class="col-12 mb-2 col-form-label"><strong>Past Unshipped</strong></label>
            <table class="admin__table-secondary">
                <thead><tr><th>Date</th><th>Item 1</th><th>Item 2</th><th></th></tr></thead>
                <tbody>      
                <?php
                if ($pastUnshipeed) {
                    if (isset($pastUnshipeed['shippingData'])) {
                        $pastMatProd = $pastUnshipeed['matProduct'];
                        $pastBladeProd = $pastUnshipeed['bladeProduct'];
                        $unShoippedData = $pastUnshipeed['shippingData'];
                        foreach ($unShoippedData as $shippingData) {
                            ?>
                        <tr>
                            <td><?= $shippingData['shippingDate'] ?></td>
                            <td><?= $pastMatProd ?></td>
                            <td><?= $pastBladeProd ?></td>
                            <td><button class="pastunshipped-btn" id="pastunshipped-btn" data-id="<?= $shippingData['id']?>">
                            <?= $block->escapeHtml('Delete') ?></button></td>
                        </tr>

                    <?php } } else { ?>
                        <tr><td><?= $block->escapeHtml('No Past Shipment') ?></td></tr>
                        <?php
                    } }
                ?>                
                </tbody>
            </table>
        </div>
        <div class="row form-group mt-3">
            <label class="col-12 mb-2 col-form-label"><strong>Upcoming Shipments</strong></label>
            <table class="admin__table-secondary">
                <thead><tr><th>Date</th><th>Item 1</th><th>Item 2</th><th></th></tr></thead>
                <tbody> 
                <?php
                if ($upcomingShipments) {
                    if (isset($upcomingShipments['shippingData'])) {
                        $pastMatProd = $upcomingShipments['matProduct'];
                        $pastBladeProd = $upcomingShipments['bladeProduct'];
                        $unShoippedData = $upcomingShipments['shippingData'];
                        foreach ($unShoippedData as $shippingData) {
                            ?>
                        <tr>
                            <td><?= $shippingData['shippingDate'] ?></td>
                            <td><?= $pastMatProd ?></td>
                            <td><?= $pastBladeProd ?></td>
                            <td><button class="upcoming-ship-btn" id="upcoming-ship-btn" data-id="<?= $shippingData['id']?>">
                            <?= $block->escapeHtml('Delete') ?></button></td>
                        </tr>

                    <?php } } else { ?>
                        <tr><td><?= $block->escapeHtml('No Past Shipment') ?></td></tr>
                        <?php
                    } }
                ?>                     
                </tbody>
            </table>
        </div>
        <section class="admin__page-section section-shipment">
            <div class="admin__page-section-title">
                <span class="title">Add a Shipment</span>
            </div>
            <div class="admin__page-section-content">
                <div class="admin__field">
                    <label for="new_shipment_date" class="admin__field-label">Ship on</label>
                    <input type="date" title="New ship on date" name="new_shipment_date" id="new_shipment_date" class="mr-3" />
                    <input type="submit" value="ADD NEW" id="btn-add-new-ship" class="btn-add-new-ship action-basic">
                </div>
            </div>
        </section>
        <section class="admin__page-section section-multiple-shipment">
            <div class="admin__page-section-title">
                <span class="title">Schedule Multiple Shipments</span>
            </div>
            <div class="admin__page-section-content">
                <div class="admin__field">
                    <label for="new_shipment_date" class="admin__field-label">Starting on</label>
                    <input type="date" title="Schedule starting date" name="start_date" id="start_date" class="mr-3" />
                    <input type="number" name="number_of_shipments" id="number_of_shipments" value="" class="mr-3"/>
                    <input type="submit" value="ADD" id="btn-add-mult-ship" class="btn-add-mult-ship action-basic">
                    <input type="hidden" name="schedule_shipments" value="1">
                </div>
            </div>
        </section>                        
    </div>
</div>


<script>
    require(['jquery'], function($) {        
        $(document).ready(function() { 

            $('body').on('click', '#btn-add-new-ship', function() {
                    var shipDate = $('#new_shipment_date').val();                    

                    var shipmentUrl = "<?= $block
                    ->escapeUrl($adminUrl.'/clubssilhouette/index/addshipment') ?>";                    
                    var currentId = "<?= $block->escapeHtml($userId) ?>";
                    var action = 'shipOn';
                    $.ajax({
                            url: shipmentUrl,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                    shipDate: shipDate,
                                    id : currentId,
                                    action : action
                                },
                            success: function(response) {   
                                alert('Club Silhouette shipment added successfully');
                                location.reload();
                            },
                            error: function (xhr, status, errorThrown) {
                                console.log('Error happens. Try again.');
                            }
                        });
             });

             $('body').on('click', '#btn-add-mult-ship', function() {
                    var startDate = $('#start_date').val();
                    var numberShip = $('#number_of_shipments').val();
                    var currentId = "<?= $block->escapeHtml($userId) ?>";

                    var shipmentUrl = "<?= $block
                    ->escapeUrl($adminUrl.'/clubssilhouette/index/addshipment') ?>"; 
                    var action = 'startOn';
                    $.ajax({
                            url: shipmentUrl,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                    id : currentId,
                                    action : action,
                                    startDate : startDate,
                                    numberShip : numberShip
                                },
                            success: function(response) {   
                                alert('Club Silhouette shipment added successfully');
                                location.reload();
                            },
                            error: function (xhr, status, errorThrown) {
                                console.log('Error happens. Try again.');
                            }
                        });
             });

             $('body').on('click', '#upcoming-ship-btn', function() {
                    var id = $(this).attr('data-id');                    
                    
                    var currentId = "<?= $block->escapeHtml($userId) ?>";
                    var shipmentUrl = "<?= $block
                    ->escapeUrl($adminUrl.'/clubssilhouette/index/addshipment') ?>"; 
                    var action = 'delete';
                    $.ajax({
                            url: shipmentUrl,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                    id : currentId,
                                    action : action,
                                    deleteId : id
                                },
                            success: function(response) {   
                                alert('Club Silhouette shipment deleted successfully');
                                location.reload();
                            },
                            error: function (xhr, status, errorThrown) {
                                console.log('Error happens. Try again.');
                            }
                        });
             });

             $('body').on('click', '#pastunshipped-btn', function() {
                    var id = $(this).attr('data-id');                    
                    
                    var currentId = "<?= $block->escapeHtml($userId) ?>";
                    var shipmentUrl = "<?= $block
                    ->escapeUrl($adminUrl.'/clubssilhouette/index/addshipment') ?>"; 
                    var action = 'delete';
                    $.ajax({
                            url: shipmentUrl,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                    id : currentId,
                                    action : action,
                                    deleteId : id
                                },
                            success: function(response) {   
                                alert('Club Silhouette shipment deleted successfully');
                                location.reload();
                            },
                            error: function (xhr, status, errorThrown) {
                                console.log('Error happens. Try again.');
                            }
                        });
             });

             $('body').on('click', '#delete-all-shipments', function() {                    
                    
                    var currentId = "<?= $block->escapeHtml($userId) ?>";
                    var shipmentUrl = "<?= $block
                    ->escapeUrl($adminUrl.'/clubssilhouette/index/addshipment') ?>"; 
                    var action = 'deleteAll';
                    $.ajax({
                            url: shipmentUrl,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                    id : currentId,
                                    action : action
                                },
                            success: function(response) {   
                                alert('Club Silhouette all shipments deleted successfully');
                                location.reload();
                            },
                            error: function (xhr, status, errorThrown) {
                                console.log('Error happens. Try again.');
                            }
                        });
             });

        });
    });
</script>