<?php
$isMember = $block->isMember();
$shippingName = '';
$shippingAdd = '';
$shippingId = '';
$currMembProduct = '';
$membershipStatus = '';

$matProducts = $block->getRefillItemsMat();
$bladeProducts = $block->getRefillItemsBlade();
$membershipProd = $block->getMembershipProducts();
$shippingAddress = $block->getShippingInfo();
if ($shippingAddress) {
    $shippingName = $shippingAddress['name'];
    $shippingAdd = $shippingAddress['address'];
    $shippingId = $shippingAddress['id'];
}

$currUserData = $block->getCurrentUserData();
foreach ($currUserData as $currUser) {
    $currMatProduct = $currUser['refill1ItemNo'];
    $currBladeProduct = $currUser['refill2ItemNo'];
    $currMembProduct = $currUser['paymentCycleMonths'];
    $membershipStatus = $currUser['membershipStatus'];
    $membershipPoints = $currUser['points'];
}

$membershipStatusName = $block->getStatusName($membershipStatus);
if ($currMembProduct == 1) {
    $currMembProduct = 'Monthly';
} else {
    $currMembProduct = 'Annually';
}

?>
<div class="clubsilhouette-main">
<?php if (!$isMember) { ?>

    <div class="club-features" id="club-features">
        <span><?= $block->escapeHtmlAttr(__("You have not joined Club Silhouette yet. 
            You're missing out on the following great perks:")) ?></span>
            <ul>
                <li><?= $block->escapeHtmlAttr(__('FREE shipping on all orders over 
                $50.00 from Silhouette')) ?></li>
                <li><?= $block->escapeHtmlAttr(__('FREE blade (or Mint Stamp Kit) and mat 
                (or Mint Stamp Sheet) delivered to you three times per year')) ?></li>
                <li><?= $block->escapeHtmlAttr(__('10 exclusive Club Silhouette digital designs each month')) ?></li>
                <li><?= $block->escapeHtmlAttr(__('10% standing discount at silhouetteamerica.com*')) ?></li>
                <li><?= $block->escapeHtmlAttr(__('Earn Club Silhouette Points for every $10.00 you spend')) ?></li>
            </ul>        
        <span><?= $block->escapeHtmlAttr(__('*Excludes Silhouette machines, downloads, 
        download cards, subscriptions, and gift cards.')) ?></span>
        <span><?= $block->escapeHtmlAttr(__('To find out more, please')) ?> <a href="<?= $block
        ->escapeUrl($block->getBaseUrl().'club-silhouette') ?>">click here</a></span>
    </div>
<?php } else { ?>

    <div class="membership-container" id="membership-container">
        <div class="membership-status">
            <label><?= $block->escapeHtmlAttr(__('Membership status')) ?></label> 
            <span><?= $block->escapeHtml($membershipStatusName) ?></span>
        </div>
        <div class="membership-type">            
            <label for="membershiptype"><?= $block->escapeHtmlAttr(__('Membership type'))?></label>
            <select name="membershiptype" id="membershiptype">
            <?php if (isset($membershipProd)) { foreach ($membershipProd as $membership) {
                    if ($currMembProduct == $membership['sku']) {
                        ?>
                <option value="<?= $block->escapeHtml($membership['sku']) ?>" selected><?=
                        $block->escapeHtml($membership['name']) ?></option>
            <?php } else {?>
                <option value="<?= $block->escapeHtml($membership['sku']) ?>"><?=
                        $block->escapeHtml($membership['name']) ?></option>            
            <?php } } }?>
            </select>
        </div>
        <div class="shipping-address-container">
            <h4><?= $block->escapeHtmlAttr(__('Shipping address')) ?></h4>
            <span class="address1"><?= $shippingName ?></span>
            <span class="address2"><?= $shippingAdd ?></span>
            <br>
            <span class="new-add" id="new-add" data-id="<?= $shippingId ?>"><?= $block->escapeHtmlAttr(__('Add new address')) ?></span>
            
            <div class="popup-content" id="popup-content" style="display: none;">
            <?php echo $block->getChildHtml('updateShippingAddresss'); ?>    
            </div>
        </div>
        <div class="billing-address-container">
            <h4><?= $block->escapeHtmlAttr(__('Billing Information')) ?></h4>
            <span class="billing-name">Mark Holloway</span>
            <span class="card-type">Visa</span>
            <span class="card-number">**** **** **** 8521</span>
            
            <span class="addnew-card"><?= $block->escapeHtmlAttr(__('Add new card')) ?></span>
        </div>
    </div>
    <div class="item-selection-container">
        <h2><?= $block->escapeHtmlAttr(__('Club item selection')) ?></h2>
        <div class="mat-item-container">
            <label for="matitems"><?= $block->escapeHtmlAttr(__('Refill Item 1')) ?></label>
            <select name="matitem" id="matitem">
                <?php if (isset($matProducts)) { foreach ($matProducts as $mat) {
                        if ($currMatProduct == $mat['sku']) {
                            ?>
                    <option value="<?= $block->escapeHtml($mat['sku']) ?>" selected><?=
                        $block->escapeHtml($mat['name']) ?></option>
                <?php } else {?>
                    <option value="<?= $block->escapeHtml($mat['sku']) ?>"><?=
                        $block->escapeHtml($mat['name']) ?></option>            
                <?php } } }?>
            </select>
        </div>
        <div class="blade-item-container">
            <label for="bladeitems"><?= $block->escapeHtmlAttr(__('Refill Item 2')) ?></label>
            <select name="bladeitem" id="bladeitem">
            <?php if (isset($bladeProducts)) { foreach ($bladeProducts as $blade) {
                    if ($currBladeProduct == $blade['sku']) {
                        ?>  
                <option value="<?= $block->escapeHtml($blade['sku']) ?>" selected><?=
                    $block->escapeHtml($blade['name']) ?></option>              
            <?php } else {?>
                <option value="<?= $block->escapeHtml($blade['sku']) ?>"><?=
                    $block->escapeHtml($blade['name']) ?></option>
            <?php } } } ?>
            </select>
        </div>
        <?php if ($membershipStatus == 'A') {?>
            <button class="update-refillitems" id="update-refillitems"><?= $block
            ->escapeHtmlAttr(__('Update'))?></button>
        <?php } else {?>
            <button class="update-refillitems" id="update-refillitems" disabled><?= $block
            ->escapeHtmlAttr(__('Update'))?></button>
        <?php }?>
    </div>
    <div class="points-container">
        <h2><?= $block->escapeHtmlAttr(__('Club Silhouette points')) ?></h2>
        <span class="club-points"><?= $block->escapeHtmlAttr(__('Points'))?></span>
        <span class="pints-show"><?= $block->escapeHtml($membershipPoints) ?></span>
        <a href="http://www.silhouetteamerica.com/club-silhouette-points"><?= $block
        ->escapeHtmlAttr(__('Learn how to earn more points')) ?></a>
    </div>
    <div class="payment-container">
        <h2><?= $block->escapeHtmlAttr(__('Payments')) ?></h2>
        <?php echo $block->getLayout()->createBlock("Magneto\ClubSilhouetteManager\Block\Index\Payment")
        ->setTemplate("Magneto_ClubSilhouetteManager::customer/account/payment.phtml")->toHtml() ?>
    </div>
    <div class="shipment-container">
        <h2><?= $block->escapeHtmlAttr(__('Shipments')) ?></h2>
        <?php echo $block->getLayout()->createBlock("Magneto\ClubSilhouetteManager\Block\Index\Shipment")
        ->setTemplate("Magneto_ClubSilhouetteManager::customer/account/shipment.phtml")->toHtml() ?>
    </div>
    <div class="membership-container">
        <h2><?= $block->escapeHtmlAttr(__('Membership activity')) ?></h2>        
        <?php echo $block->getLayout()->createBlock("Magneto\ClubSilhouetteManager\Block\Index\MembershipAction")
        ->setTemplate("Magneto_ClubSilhouetteManager::customer/account/membershipaction.phtml")->toHtml() ?>
    </div>
    <?php if ($membershipStatus == 'A') {?>
    <div class="cancel-membership-container">
        <h2><?= $block->escapeHtmlAttr(__('Cancel subscription')) ?></h2>
        <span><?= $block->escapeHtmlAttr(__('Your account is eligible to be canceled immediately. 
        By clicking the button and confirming below, you agree to cancel your Club Silhouette membership. 
            You will not receive any refunds.')) ?>
        </span>
        <button class="cancel-btn" id="cancel-btn"><?= $block->escapeHtmlAttr(__('Cancel membership')) ?></button>
    </div>
    <?php } ?>
    
<?php } ?>
</div>
<?php
$sessionUrl = $block->escapeUrl($block->getUrl().'clubsilhouette/index/setsession');
$url = $block->escapeUrl($block->getUrl().'clubsilhouette/index/clubsilhouettetab');
?>
<script type="text/x-magento-init">
{
    "*": {
        "Magneto_ClubSilhouetteManager/js/clubsilhouetteTab": {
            "sessionUrl": "<?= /* @noEscape */ $sessionUrl;?>",
            "Url":"<?= /* @noEscape */ $url;?>"            
        }
    }
}
</script>