<?php if ($block->getPagerHtml()): ?>
    <!-- <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div> -->
<?php endif ?>
<?php $gridrecords = $block->getCustomCollection(); ?>
<?php if ($gridrecords && sizeof($gridrecords)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col title"><?php echo __('Date') ?></th>
                    <th scope="col" class="col product"><?php echo __('Event') ?></th>
                    <th scope="col" class="col amount"><?php echo __('Details') ?></th>                    
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($gridrecords as $gridrecord): ?>                
                    <?php $gridrecord = $gridrecord->getData(); ?>
                    <tr>                                                
                            <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col product">
                                <?php
                                if (!empty($gridrecord['date'])) {
                                    if ($gridrecord['date'] == '0000-00-00 00:00:00') {
                                        echo '-';
                                    } else {
                                        echo $block->dateFormate($gridrecord['date']);
                                    }
                                        
                                } else {
                                    echo '-';
                                }
                                ?>
                            </td>
                            <td data-th="<?= $block->escapeHtml(__('Event')) ?>"
                                class="col amount"><?php echo $gridrecord['action'] ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Details')) ?>" class="col paid">
                                <?php
                                if ($gridrecord['notes']) {
                                    echo $block->getEvent($gridrecord['notes']);
                                } else {
                                    echo '-';
                                }
                                ?>
                            </td>                            
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            <?php if ($block->getPagerHtml()): ?>
                <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
            <?php endif ?>
        <?php else: ?>
            <div class="message info empty"><span><?php echo __('No any record.'); ?></span></div>
        <?php endif ?>