<?php if ($block->getPagerHtml()): ?>
    <!-- <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div> -->
<?php endif ?>
<?php $gridrecords = $block->getCustomCollection(); ?>
<?php if ($gridrecords && sizeof($gridrecords)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col title"><?php echo __('Due Date') ?></th>
                    <th scope="col" class="col product"><?php echo __('Payment Date') ?></th>
                    <th scope="col" class="col amount"><?php echo __('Amount') ?></th>
                    <th scope="col" class="col amount"><?php echo __('Paid') ?></th>
                    <th scope="col" class="col amount"><?php echo __('Order#') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($gridrecords as $gridrecord): ?>                
                    <?php $gridrecord = $gridrecord->getData(); ?>
                    <tr>                        
                        <td data-th="<?= $block->escapeHtml(__('Due Date')) ?>"
                            class="col title"><?php echo $block->dateFormate($gridrecord['dueDate']); ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Payment Date')) ?>" class="col product">
                                <?php
                                if (!empty($gridrecord['paymentDate'])) {
                                    if ($gridrecord['paymentDate'] == '0000-00-00 00:00:00') {
                                        echo '-';
                                    } else {
                                        echo $block->dateFormate($gridrecord['paymentDate']);
                                    }
                                        
                                } else {
                                    echo '-';
                                }
                                ?>
                            </td>
                            <td data-th="<?= $block->escapeHtml(__('Amount')) ?>"
                                class="col amount"><?php echo '$'.$gridrecord['amt'] ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Paid')) ?>"
                                class="col paid"><?php if ($gridrecord['paymentDate']) {echo 'Y';
                                                 } else { echo 'N';} ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Order')) ?>"
                                class="col order"><?php if (!empty($gridrecord['orderId'])) {echo $gridrecord['orderId'];
                                                  } else { echo 'N/A';} ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            <?php if ($block->getPagerHtml()): ?>
                <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
            <?php endif ?>
        <?php else: ?>
            <div class="message info empty"><span><?php echo __('No any record.'); ?></span></div>
        <?php endif ?>